.box {
width: 100px;
height: 100px;
background-color: lightseagreen;
position: absolute;
top: 0px;
left: 0px;
bottom: 0px;

}
.box:hover {
    cursor: pointer;
}
* {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
